{# base.html #}
{# inherited independently of navigation #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work the rainbow</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
  </head>

  <body>

    <header style="margin-top:-20px;" >
      {% if user.is_authenticated and user.roles %}
      {% include 'base_nav.html' %}
      {% endif %}

      {% block header %}
      {% endblock header %}
    </header>

    <main style="margin-top:-70px;" >

      {% if messages %}
      <div id="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </p>
        {% endfor %}
      </div>
      {% endif %}

      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </body>
</html>



