{# base.html #}
{# all views which invoke this template require authentication #}


{% load people_tags %}
{% load rules %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {# <link rel="stylesheet" href="style.css">  #}
    <title>work the rainbow</title>
  </head>

  <body>

    {% include 'base_nav.html' %}







    {# <div id="main-nav"> #}

    {#   {% if user.is_parent %} #}
    {#     <div id="parent-nav"> #}
    {#       {% for child in user.children %} #}
    {#         {% with child.classroom as classroom %} #}
    {#           <table> #}
    {#             <tr> #}
    {#               <td> #}
    {#                 {{classroom}} #}
    {#               </td> #}
    {#             </tr> #}
    {#             <tr> #}
    {#               <td> #}
    {#                 <a href="{% url 'classroom-calendar' classroom.slug %}"> calendar</a> #}
    {#               </td> #}
    {#             </tr> #}
    {#             <tr> #}
    {#               <td> #}
    {#                 <a href="{% url 'classroom-roster' classroom.slug %}"> roster</a> #}
    {#               </td> #}
    {#             </tr> #}
    {#           </table> #}
    {#         {% endwith %} #}
    {#       {% endfor %} #}
    {#     </div> #}
    {#   {% endif %} #}

    {#   {% if user.is_scheduler %} #}
    {#     <div id="scheduling-outer-nav"> #}
    {#       {% for classroom in self.user.classrooms_as_scheduler %} #}
    {#         <a href="{% url 'scheduling' classroom.slug %}"> scheduling {{classroom}}</a> #}
    {#       {% endfor %} #}
    {#     </div> #}
    {#   {% endif %} #}

    {#   {% if user.is_teacher %} #}
    {#     <div id="teaching-nav"> #}
    {#       {% for classroom in user.classrooms_as_teacher %} #}
    {#         <table> #}
    {#           <tr> #}
    {#             <td> #}
    {#               {{classroom}} #}
    {#             </td> #}
    {#           </tr> #}
    {#           <tr> #}
    {#             <td> #}
    {#               <a href="{% url 'classroom-calendar' classroom.slug %}"> calendar</a> #}
    {#             </td> #}
    {#           </tr> #}
    {#           <tr> #}
    {#             <td> #}
    {#               <a href="{% url 'classroom-roster' classroom.slug %}"> roster</a> #}
    {#             </td> #}
    {#           </tr> #}
    {#         </table> #}
    {#       {% endfor %} #}
    {#     </div> #}
    {#   {% endif %} #}

    {#   {% if user.is_admin %} #}
    {#     <div id="admin-nav"> #}
    {#     </div> #}
    {#   {% endif %} #}


    {#   <ul> #}
    {#     {\# {% if user.is_authenticated %} #\} #}
    {#       <li> #}
    {#         <a href="{% url 'upcoming' %}">upcoming</a> #}
    {#       </li> #}
    {#     {\# {% endif %} #\} #}
    {#     {% for classroom in request.user.classrooms %} #}
    {#       <li> #}
    {#         <a href="{% url 'classroom-calendar' classroom.slug %}"> {{classroom.name}} - calendar</a> #}
    {#       </li> #}
    {#     <li> #}
    {#       <a href="{% url 'classroom-roster' classroom.slug %}"> {{classroom.name}} - roster</a> #}
    {#     </li> #}
    {#   {% endfor %} #}
    {#   {% has_perm 'people.create_classroom' user classroom as can_create_classroom  %} #}
    {#   {% if can_create_classroom %} #}
    {#     <li> #}
    {#       <a href="{% url 'create-classroom' %}">add classroom</a> #}
    {#     </li> #}
    {#   {% endif %} #}
    {#   {% if user.is_authenticated %}  #}
    {#     <li> #}
    {#       <a href="{% url 'view-profile' %}">profile</a> #}
    {#     </li> #}
    {#   {% endif %} #}
    {#   <li> #}
    {#     {% if user.is_authenticated %} #}
    {#       <a href="{% url 'account_logout' %}">sign out</a> #}
    {#     {% else %} #}
    {#       <a href="{% url 'account_login' %}">sign in</a> #}
    {#     {% endif %} #}
    {#   </li> #}
    {#   </ul> #}
    {# </div> #}

    <div id="messages">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </p>
      {% endfor %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>



