{% load people_tags %}
{% load main_tags %}

{# assumes active_role is not null, as required in base.html #}

<div id="auth-panel">
  <nav>
    <ul>

      <li>
        <a href="{% url 'account_logout' %}">sign out</a> 
      </li>
      {# todo reduce db hits here #}
      {% with user.active_role as active_role %}
        {% with user.multi_roles as multi_roles %}
          {% for role in multi_roles %}
            {% if role != active_role %}
              {% with role.name as role_name %}
                <li>
                  <a href='{% url role_name|addstr:'-home' %}'>{{role}}</a>
                </li>
              {% endwith %}
            {% else %}
              <li>
                {{role}}
              </li>
            {% endif %}
          {% endfor %}
    </ul>
    {# <br> #}

    {% load notifications_tags %}

    <ul>

      {% live_notifications_smartlink %}

      {% url 'profile' as linked_url %} 
      {% smart_link linked_url 'profile' view.request %}  


      {% if active_role %}
        {% with active_role.name|addstr:'_nav.html' as role_nav %}
          {% include role_nav %}
        {% endwith %}
      {% endif %}
    {% endwith %}
  {% endwith %}
    </ul>
  </nav>
</div>


