{% load main_tags %}


{% url 'parent-home' as linked_url %} 
{% smart_link linked_url 'upcoming' view.request %} 

{% for classroom in user.classrooms %} 
  {% url 'classroom-calendar' classroom.slug as linked_url %}
  {% with classroom.slug|add:' calendar' as link_text %}
    {% smart_link linked_url link_text view.request %}
  {% endwith %}
  {% url 'classroom-roster' classroom.slug as linked_url %}
  {% with classroom.slug|add:' roster' as link_text %}
    {% smart_link linked_url link_text view.request %}
  {% endwith %}
{% endfor %}

{% for child in user.child_set.all %} 
  {% url 'child-profile' child.slug as linked_url %}
  {% smart_link linked_url child.slug view.request %}
{% endfor %}


