<div id="parent-nav">
  <a href='{% url 'parent-home' %}'>
    upcoming
  </a>
  {% for classroom in user.classrooms %}
    <table >
      {# <tr>  #}
      {#   <td>  #}
      {#     {{classroom.name}}  #}
      {#   </td>  #}
      {# </tr>  #}
      <tr> 
        <td>
          <a href="{% url 'classroom-calendar' classroom.slug %}">
            {{classroom.slug}} calendar
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{% url 'classroom-roster' classroom.slug %}">
            {{classroom.slug}} roster
          </a>
        </td>
      </tr>
      {% for child in user.children %} 
          <tr> 
            <td> 
              <a href="{% url 'child-profile' child.nickname %}"> 
                {{child.nickname}}'s profile
              </a> 
            </td> 
          </tr> 
      {% endfor %} 

    </table>
  {% endfor %}
</div>
