<div id="parent-nav">
  <a href='{% url 'parent-home' %}'>
    parent's home
  </a>
  {% for classroom in user.classrooms %}
    <table >
      {# <tr>  #}
      {#   <td>  #}
      {#     {{classroom.name}}  #}
      {#   </td>  #}
      {# </tr>  #}
      {# <tr> #}
        <td>
          <a href="{% url 'classroom-calendar' classroom.slug %}">
            {{classroom.slug}} calendar
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{% url 'classroom-roster' classroom.slug %}">
            {{classroom.slug}} roster
          </a>
        </td>
      </tr>
    </table>
  {% endfor %}
</div>
