<div id="scheduler-nav">
  <a href='{% url 'scheduler-home' %}'>
    scheduler's home
  </a>
  <table>
    {% for classroom in user.classrooms_as_scheduler %}
      <tr>
        {# <th> #}
          {# {{classroom.name}} #}
        {# </th> #}
        <td>  
          <a href="{% url 'scheduler-calendar' classroom.slug %}"> schedule </a>
        </td>  
        <td>  
          <a href="{% url 'list-periods' classroom.slug %}"> periods </a>
        </td>  
        <td>  
          <a href="{% url 'manage-classroom' classroom.slug %}"> roster </a>
        </td>  
      </tr>
    {% endfor %}
  </table>
</div>
