{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}


{% block content %}

  {% with object as child %}
  <h1>{{child}}</h1>
<p> classroom: {{child.classroom}}
</p>
<p> parents:
  <ul>
    {% for parent in child.parent_set.all %}
      <li>{% display_user parent %}</li> 
    {% endfor %}
  </ul>
</p>
{% if child.birthday %}
  <p>
    birthday: {{child.birthday}}
  </p>
{% endif %}
{% endwith %}

care assignments:
<ul>
  {% for cda in child.caredayassignment_set.all %}
    <li>{{cda.start.date }}-{{cda.end.date}}: {{cda.careday}}</li>
  {% endfor %}
</ul>


{% has_perm 'people.edit_child' user child as edit_child %}  
{% if edit_child %}    
  <a href="{% url 'edit-child' child.nickname %}"> edit child info</a>
  <a href="{% url 'create-careday-assignments' child.nickname %}">add caredays</a>
{% endif %}



{% endblock %}
