{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}


{% block content %}

  {% has_perm 'people.edit_child' user child as edit_child %}  

  {% with object as child %}
    <h1>{{child}}</h1>

<h2>basic info</h2>
<table>
  <tr>
    <td>classroom:
    </td>
    <td> {{child.classroom}}
    </td>
  </tr>
  <tr>
    <td>
      parents:
    </td>
    <td>
      <ul>
        {% for parent in child.parent_set.all %}
          <li>{% display_user parent %}</li> 
        {% endfor %}
      </ul>
      {% if edit_child %}
        <a href="{% url 'add-parent' child.slug %}">add a parent</a>
      {% endif %}
    </td>
  </tr>
  {% if child.birthday %}
    <tr>
      <td>
        birthday:
      </td>
      <td>
        {{child.birthday}}
      </td>
    </tr>
  {% endif %}
</table>
{% endwith %}

  <p>
    <a href="{% url 'edit-child' child.slug %}">edit child info</a>
  </p>


{% if edit_child and prefs_by_period %} 
<h2> worktime preferences</h2>
<p>
  {# {% if false %} #}
  {# submit worktime preferences for the period... #}
  {% for pp in prefs_by_period %}
    <li>
      <a href={% url 'submit-preferences' child.slug pp.period.pk %}>
        {{ pp.period.start | date:"j M y"}} - {{ pp.period.end | date:"j M y" }}
      </a>
      {% if pp.preferences %}
        {# {{pp.preferences}} #}
        <ol>
          {% for rank in pp.preferences %}
            <li>
              {% for pref in rank %}
                {{pref.shift.weekday_str}}
                {{pref.shift.start_time | time:"f"}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            </li>
          {% endfor %}
        </ol>
      {% endif %}
    </li>        
  {% endfor %}
</p>
{% endif %}


<h2>worktime commitments</h2>

{% if edit_child and commitments_by_period %}
  {# <p>(minimum {{min_commitments_per_period}} per period) #}

    <ul>
      {% for period, commitments in commitments_by_period.items %}
        <li>
          {{ period.start | date:"j M y"}} - {{ period.end | date:"j M y" }}
          <ol>
            {% for commitment in commitments %}
              <li>
                {{commitment.start | date:"F d"}}, {{commitment.start | time:"g:i"}}
                {% if commitment.completed != None %} 
                  ({{commitment.show_completion_status}})
                {% endif %}
               </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}




<h2>daycare schedule</h2>

{% if edit_child %}
  <p>{{child}} is in daycare for these times... 
    <ul>
      {# {% for cda in child.caredayassignment_set.all.distinct %} #}
      {% for cda in child.careday_assignments %}
        <li>
          {{cda.start.date | date:"j M y" }} - {{cda.end.date | date:"j M y"}}:
          {{cda.careday.weekday_str}}, {{cda.careday.start_time}} - {{cda.careday.end_time}}
          [<a href="{% url 'edit-caredayassignment' child.slug cda.pk %}">edit</a>]
          [<a href="{% url 'delete-caredayassignment' child.slug cda.pk %}">delete</a>]
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'create-careday-assignments' child.slug %}">add care days</a>
  </p>
  
{% endif %}

{% endblock %}
