{% extends "authenticated.html" %}

{% load people_tags %}
{% load rules %}

{% block content %}

  <h1>
    {{classroom.name}} 
  </h1>

<h2>teachers</h2>
<p>
<ul>  
  {% for teacher in object.teacher_set.all %}  
    <li> {{ teacher }}  
  {% endfor %}  
</ul>  
</p>

<h2>kids</h2>
<p>
<ul>   
  {% for kid in object.child_set.all %}   
    <li> {% display_child kid  %}
      {% if kid.parent_set.all %} 
          ({{ kid.parent_set.all|display_user_list | safe }})  
      {% endif %}
    </li>  
  {% endfor %}  
</ul>   
</p>

<h2>schedulers</h2>
<p>
<ul> 
  {% for scheduler in object.scheduler_set.all %} 
    <li> 
      {% display_user scheduler %} 
    </li> 
  {% endfor %} 
</ul> 
</p>

{% endblock content %}
