{% extends "worktime/base.html" %}

{% load people_tags %}
{% load rules %}

{% block content %}

  <h1>
    {{classroom.name}} 
  </h1>

<h2>teachers</h2> 
<ul>  
  {% for teacher in object.teacher_set.all %}  
    <li> {% display_user teacher %}  
  {% endfor %}  
</ul>  
{% has_perm 'people.edit_classroom' user classroom as can_edit_classroom %}  
{% if can_edit_classroom %}    
  <a href="{% url 'add-teacher' object.slug %}">add a teacher</a>      
{% endif %}    

<h2>kids</h2>   
<ul>   
  {% for kid in object.child_set.all %}   
    <li>
      {% display_child kid  %} 
      {% if kid.parent_set.all %} 
          ({{ kid.parent_set.all|display_user_list | safe }})  
      {% endif %}
      {# {% for parent in kid.parent_set.all %} {{ parent.email }} {% endfor %}    #}
    </li>  
  {% endfor %}  
</ul>   
{% has_perm 'people.edit_classroom' user classroom as can_edit_classroom %}  
{% if can_edit_classroom %}  
  <a href="{% url 'add-child' object.slug %}">add a kid</a>   
{% endif %}  


<h2>scheduler</h2> 
<ul> 
  {% for scheduler in object.scheduler_set.all %} 
    <li> 
      {% display_user scheduler %} 
    </li> 
  {% endfor %} 
</ul> 
{% if can_edit_classroom %}    
  <a href="{% url 'add-scheduler' object.slug %}">add a scheduler</a>      
{% endif %}    

{% endblock content %}
