{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}


{% block nav %} {% endblock %}

{% block content %}
<h1>{{object.username}}'s profile</h1>
<ul>
<li>email: {{object.email}}
    {% if user.is_parent %}
      <li>parent of...
        <ul>
          {% for child in object.child_set.all %}
            <li>{% display_child child %} ({{child.classroom}})
              {% if child.parent_set.count > 1%}
                {% for parent in child.parent_set %}
                  {% if parent != request.user %}
                    {{parent}}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
        </ul>
      {% endif %}

    {% if user.is_teacher %}
      <li>teacher
        {% if user.classrooms_as_teacher%} in
          <ul>
            {% for classroom in user.classrooms_as_teacher %}
              <li>
                {{classroom}}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}

</ul>

{# <p><a href={% url 'edit-profile' %}>edit this profile</a> </p> #}
<p><a href = {% url 'account_change_password' %}> change password </a></p>
<p><a href = {% url 'account_email' %}> change email address </a></p>
<p><a href = {% url 'socialaccount_connections' %} > manage social network connections </a></p>

{% endblock %}
