<style> 

h1, h2, h3, h4, h5, h6 { 
    margin: 0 0 0.5em; 
} 
h1 { 
    font-size: 1.2em; 
    {# margin: 0em 0 0.1em;        #}
} 

h2 { 
    font-size: 1em; 
} 

h3 { 
    margin: 0 0em 0.5em; 
    font-size: .8em; 
} 

nav {
    margin: 0 0 0em;
    font-size: .8em;
}

table { 
    /* font-size: .9em; */
    border:0px solid black;
    border-collapse:collapse;
    background:none;
} 

table td, table th, table tr, table caption { 
    font-size: .9em;
    border:0px;
    border-collapse:collapse;  
} 

table th:first-child, table td:first-child, table td:last-child, table th:last-child {
    background:none;
}


ul, ol { 
    font-size: .9em;
    padding-left:0em;
    margin-left: 1em;
    margin-bottom:0.2em;
} 

form { 
    padding-left:0em;
    padding-bottom:0em;
    margin-left: 0em;
    {# border: 0px solid black;  #}
} 

</style>

