{% block calendar-nav %}
  <div id="calendar-nav">
    <nav>
      <ul>
        {% for unit_name in view.unit_dict %}
          <li>
            {% with unit_name|add:'-classroom-calendar' as calendar_name %}
              <a href="{% url calendar_name view.classroom.slug view.date.year view.date.month view.date.day %}">
                {{unit_name}}
              </a>
            {% endwith %}
          </li>
        {% endfor %}
        <li>
          <a href="{{view.previous}}">
            &lt;  
          </a>
        </li>
        <li>
          <a href="{{view.next}}"> 
            &gt;   
          </a>
        </li>
      </ul>
  </div>

{% endblock calendar-nav %}
