{% block calendar-nav %}
  <div id="calendar-nav">
    <nav>
      <ul>
        {% for unit_name in view.unit_dict %}
          <li>
            {% with unit_name|add:'-classroom-calendar' as calendar_name %}
              <a href="{% url calendar_name view.classroom.slug view.date.year view.date.month view.date.day %}">
                {{unit_name}}
              </a>
            {% endwith %}
          </li>
        {% endfor %}
        <li>
          <a href="{{view.previous}}">
            &lt;  
          </a>
        </li>
        <li>
          <a href="{{view.next}}"> 
            &gt;   
          </a>
        </li>
        {% for child in request.user.children %}
          {% if child.classroom == view.classroom %}
            <li>
              <a href="{% url 'edit-worktimecommitments-for-parent-by-month' view.classroom.slug child.slug view.date.year view.date.month view.date.day %}">
                edit {{child.nickname}}'s commitments
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  </div>

{% endblock calendar-nav %}
