{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>{{view.classroom.name}} - {{view.date|date:"F Y"}}</h1>
  {% include 'calendar-nav.html' %}
  <table>
    <tr>
      {% for day in view.worktimes_struct.0 %}
        <td>
          {{ day|date:"l" }}
        </td>
        {% endfor %}
    </tr>
    {% for week in view.worktimes_struct %}
      <tr>
        {% for day, shift_instances in week.items %}
          <td {% if day <= now %} class="calendar-past" {% endif %} > {{day}}
            <table>
              {% for shift_instance, commitment in shift_instances.items %}
                <tr>
                  {% if commitment %}
                    <td>
                      {{shift_instance.start_time |time:"H:i"}}
                    </td>
                  <td>
                    {{commitment.family.nickname}}
                  </td>
                {% else %}
                  <td>&nbsp;</td><td>&nbsp;</tbd>
                {% endif %}
                </tr>
              {% endfor %}
            </table>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

{% endblock content %}
