{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>{{view.classroom.name}} - {{view.date|date:"F Y"}}</h1>
  {% include 'calendar-nav.html' %} 
  {% with view.shifts_by_week as shifts_by_week %}
    <table>
      <tr>
        {% for day in shifts_by_week.0 %}
          <th>
            {{ day|date:"l" }}
          </th>
        {% endfor %}
      </tr>
      {% for week in shifts_by_week %}
        <tr>
          {% for day, shifts in week.items %}
            <td>
              {# <p> #}
                {{day|date:"j"}}
              {# </p> #}
              <br>
              <table>
                {% for shift in shifts %}
                  <tr>
                    <td>
                      {{shift.start |time:"g:i"}}
                    </td>
                    <td>
                      {{shift.commitment.child | default_if_none:""}}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endwith %}
{% endblock content %}
