{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}

  <h1>
    upcoming
  </h1>
  {% if user.children %}
    <h2>
      worktime shifts
    </h2>
    {% if worktime_commitments %}
      <ul>
        {% for shift in worktime_commitments %}
          <li>
            {{shift.date | date:"F d"}}, 
            {{shift.start_time | time:"H:i"}}
            ({{shift.classroom.slug}})
            <a href="{% url 'edit-worktime-commitment' shift.classroom.slug shift.commitment.nickname shift.date.year shift.date.month shift.date.day shift.start_time.hour shift.start_time.minute %}">
              reschedule
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      none soon
    {% endif %}
  {% endif %}

  <h2>
    events
  </h2>
  {% if view.events %}
    <ul>
      {% for event in view.events %}
        <li>
          {{event.date}}
          {% if event.start_time %}, {{ event.start_time }} {% endif %}
          {% if event.end_time %} - {{ event.end_time }} {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    none soon 
  {% endif %}


  <h2>
    holidays
  </h2>
  {% if view.holidays %}
    <ul>
      {% for holiday in view.holidays %}
        <li>
          {{holiday}}
          {{holiday.date}}
          {% if holiday.end_date %} - {{ event.end_date }} {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    none soon 
  {% endif %}

{% endblock content %}
