{% extends 'authenticated.html' %}

{% load people_tags %} 
{% load rules %}

{% block content %}

  <h1>
    upcoming
  </h1>
  {% if user.children %}
    <h2>
      worktime shifts
    </h2>
    {% if view.worktime_commitments %}
      <ul>
        {% for wtc in view.worktime_commitments %}
          <li>
            {{wtc.start | date:"F d"}} ({% display_child wtc.child %}, {{wtc.child.classroom.slug}})
            <a href="{% url 'edit-worktime-commitment' wtc.child.slug wtc.pk %}"> 
              change 
            </a> 
          </li>
        {% endfor %}
      </ul>
    {% else %}
      none soon
    {% endif %}
  {% endif %}

  <h2>
    events
  </h2>
  {% if view.events %}
    <ul>
      {% for event in view.events %}
        <li>
          {{event.name}}: {{event.date}}
          {% if event.start_time %}, {{ event.start_time }} {% endif %}
          {% if event.end_time %} - {{ event.end_time }} {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    none soon 
  {% endif %}


  <h2>
    holidays
  </h2>
  {% if view.holidays %}
    <ul>
      {% for holiday in view.holidays %}
        <li>
          {{holiday.name}}:
          {{holiday.start.date}}
          {% if holiday.end.date != holiday.start.date %} - {{ holiday.end.date }} {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    none soon 
  {% endif %}

{% endblock content %}
