{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>{{classroom.slug}}
    worktime period -
    {# {{object.start | date:"j"}} #}
    {{period.start | date:"j b y"}} - {{period.end | date:"j b y"}}  
  </h1>

{# todo navigate forward / backward in period list #}

{# <a href='{% url 'solicit-preferences' classroom.slug period.pk %}'>solicit preferences</a> #}
{# <a href='{% url 'nag-preferences' classroom.slug period.pk %}'>nag preferences</a> #}
  <nav>
    <ul>
      <li>
        <a href='{% url 'display-preferences' classroom.slug period.pk %}'>
        see shift preferences
        </a>
      </li>
      <li>
        <a href='{% url 'update-period' classroom.slug period.pk %}'>
          revise period dates
        </a>
      </li>
      <li>
        <a href='{% url 'delete-period' classroom.slug period.pk %}'>
          delete period
        </a>
      </li>
      <li>
        <a href='{% url 'clear-period-schedule' classroom.slug period.pk %}'>
          clear schedule
        </a>
      </li>

    </ul>
  </nav>

{# preferences : solicit, nag, view #}
{# shift-assignment : build, generate, view #}
{# worktime-assignment : build, generate, view #}
{# publish assignments (is_published attribute of Period) #}


{% endblock content %}
