{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>worktime assignment preferences ({{view.classroom.slug}})</h1>
Select a period...
<ul>
  {% for period in object_list %}
    <li>
      <a href={% url 'manage-period' classroom.slug period.start.year period.start.month period.start.day %}>
        {{ period.start | date:"j b y"}} - {{ period.end | date:"j b y" }}
      </a>
    </li>
    {% endfor %}
</ul>

<a href='{% url 'create-period' classroom.slug %}'>
add a period
</a>

{% endblock content %}
