{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>shift preferences ({{view.classroom.slug}})</h1>

  {# todo date display and navigation #}

  {% with view.prefs_dict as prefs %}
    {% if prefs %}
      <table>
        <tr>
          {% for key, weekday_name in view.weekdays.items %}
            <th>
              {{weekday_name}}
            </th>
          {% endfor %}
        </tr>
        <tr>
          {% for weekday, times in prefs_dict.items %}
            <td>
              {% for time, prefs in times.items %}
                {{time}}
                <ul>
                  {% for pref in prefs %}
                    <li>
                      ({{pref.rank}}) 
                      {{pref.child.nickname}}
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      </table>


      <form action="{{request.path}}" method="post">
        {% csrf_token %}
        <p>Try to generate shift assignments...</p>
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    {% else %}
      No preferences yet.
    {% endif %}
  {% endwith %}

{% endblock content %}
