{% extends "base.html" %}

{% block content %}
<p>Please submit your shift preferences here.  You must assign some rank to at least {{min_shifts}} shifts.</p>

<p>Note that higher ranks take precedence for the scheduler.  For this reason, if for example you assign two shifts the rank of 1, then all else being equal, you will be likelier to get one of those than you would, had you assigned either the rank 1 and the other the rank 2.</p>
{% include "worktime/generic_form.html" %}
{% endblock content %}
