{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>shift preferences ({{view.classroom.slug}})</h1>

  <script>
    function toggle(showHideDiv) {
    var ele = document.getElementById(showHideDiv);
    if(ele.style.display == "block") {
    ele.style.display = "none";
    }
    else {
    ele.style.display = "block";
    }
    } 
  </script>

  <p>
    {% if view.has_solution %}
      <a href="{% url 'view-generated-schedules' view.classroom.slug view.period.pk%}">
        At least one schedule
      </a>
      satisfies the below choice of allowable assignments!
    {% else %}
      No schedules satisfies the below choice of allowable assignments.
      You can broaden the search by enabling more allowable assignments below.
    {% endif %}
  </p>

  {% with view.shifts_by_weekday as prefs_data %}
    {% if view.prefs %} 
      <table> 
        {% for weekday, shift_dict in prefs_data.items %} 
          <tr> 
            {% for shift, prefs in shift_dict.items %} 
              <td> 
                {{shift}}
                <ul>
                  {% for pref in prefs %}
                    <li>
                      {% include 'preference_detail.html' %}
                    </li>
                  {% endfor %}
                </ul>
              </td> 
            {% endfor %} 
          </tr> 
        {% endfor %} 
      </table> 
    {% else %}  
      No preferences yet.  
    {% endif %}  
  {% endwith %} 

{% endblock content %}
