{% extends "authenticated.html" %}

{% block content %}

<h1>worktime preferences</h1>

<p>Please submit your shift preferences here.  You must assign some numerical rank to at least {{min_shifts}} shifts.</p>

<p>After collecting everyone's preferences, we will try to assign everyone some highly ranked shift.  This is likelier to work if you rank multiple shifts highly.  So, please do that if you can!  Thank you.
</p>

<form action="{{request.path}}" method="post">
    {% csrf_token %}
{# <table> #}
  {# {% for shift in view.shifts %} #}
    {{ form.as_table }}
  {# {% endfor %} #}
    <input type="submit" value="Submit">
</form>
{% endblock content %}
