{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  <h1>{{view.classroom.name}}, {{view.start|date:"d F"}} - {{view.end|date:"d F"}}</h1>
  {% include 'scheduler-calendar-nav.html' %} 



<div>
{# navigating between families #}
  {% for family in view.classroom.child_set.all %}
    {% if family != view.family %}
      <a href='{% url 'make-worktime-commitments' view.classroom.slug family.nickname view.date.year view.date.month view.date.day %}'>
        {{family}}
      </a>
    {% else %}
      {{family}}
    {% endif %}
  {% endfor %}
</div>




  {% with view.shifts_by_week as shifts_by_week %}
    <table>
      <tr>
        {% for day in shifts_by_week.0 %}
          <td>
            {{ day|date:"l" }}
          </td>
        {% endfor %}
      </tr>
      {% for week in shifts_by_week %}
        <tr>
          {% for day, shifts in week.items %}
            <td>
              {{day|date:"j"}}
              <table>
                {% for shift in shifts %}
                  <tr>
                    <td>
                      {{shift.start |time:"g:i"}}
                    </td>
                    <td>
                      {{shift.commitment.family | default_if_none:""}}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endwith %}
{% endblock content %}
