{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
  {# <h1>{{view.classroom.name}}, {{view.start|date:"d F Y"}} - {{view.end|date:"d F"}}</h1> #}
  <h1>{{view.classroom.name}}, {{view.date|date:"F Y"}}</h1>
  {% include 'scheduler-calendar-nav.html' %} 



<div>
{# navigating between families #}
  {% for child in view.classroom.child_set.all %}
    {% if child != view.child %}
      <a href='{% url 'make-worktime-commitments' view.classroom.slug child.nickname view.date.year view.date.month view.date.day %}'>
        {{child}}
      </a>
    {% else %}
      {{child}}
    {% endif %}
  {% endfor %}
</div>




  {% with view.shifts_by_week as shifts_by_week %}
    <table>
      <tr>
        {% for day in shifts_by_week.0 %}
          <td>
            {{ day|date:"l" }}
          </td>
        {% endfor %}
      </tr>
      {% for week in shifts_by_week %}
        <tr>
          {% for day, shifts in week.items %}
            <td>
              {% if day.month == view.date.month %}
              {{day|date:"j"}}
                <table>
                  {% for shift in shifts %}
                    <tr>
                      <td>
                        {{shift.start |time:"g:i"}}
                      </td>
                      <td>
                        {{shift.commitment.child | default_if_none:""}}
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endwith %}
{% endblock content %}
