{% extends "worktime/base.html" %} 

{% load people_tags %} 
{% load main_tags %}

{% load rules %}

{% block content %}

  <h1>
    {{classroom}}, {{date}}
  </h1>

  <h2>
    worktimes
  </h2>
<form action="{{request.path}}" method="post"> 
{% csrf_token %}
  <table>
  {% for time, shift in shifts.items %}
    {% with shift.commitment as commitment%}
    <tr>
      <td>
        {{time | time:"g:i"}}:
      </td>
      <td>
        {{commitment.child.nickname|default_if_none:""}}
      </td>
      <td>
        {% if commitment %}
          {{form|render_field_from_int:commitment.pk}}
        {% endif %}
      </td> 
    </tr>
    {% endwith %}
  {% endfor %}
  </table>  
  <button type="submit", value="Submit">save</button>
</form>
  <h2>
    kids
  </h2>
  {# <table> #}
  {#     <tr> #}
  {#   {% for careday in view.caredays %} #}
  {#       <td> #}
  {#         {{careday.start.time | time:"g:i"}}-{{careday.end.time | time:"g:i"}} #}
  {#       </td> #}
  {#   {% endfor %} #}
  {#     </tr> #}
  {#   <tr> #}
  {#     {% for careday in view.caredays %} #}
  {#       <td> #}
  {#         <ul> #}
  {#           {% for kid in careday.children %} #}
  {#             <li> #}
  {#               {{kid.nickname}} #}
  {#             </li> #}
  {#           {% endfor %} #}
  {#         </ul> #}
  {#       </td> #}
  {#     {% endfor %} #}
  {#   </tr> #}
  {# </table> #}

  <ul>
  {% for careday in view.caredays %}
    <h3>{{careday.start.time | time:"g:i"}}-{{careday.end.time | time:"g:i"}}</h3>
    {% for child in careday.children %}
    <li>{{child.nickname}} 
      {% endfor %} 
    </li>
  {% endfor %}
  </ul>

{% endblock content %}
