{% extends "authenticated.html" %}

{% load people_tags %} 
{% load main_tags %}

{% load rules %}

{% block content %}

  <h1>
    {{classroom}}, {{date}}
  </h1>

  <h2>
    worktimes
  </h2>
  {% if commitments %}
<li>
    {% for commitment in commitments %}
      <ul>
        {{ commitment.shift.start_time }}:{{ commitment.child.nickname }}
      </ul>
    {% endfor %}
    {% url 'worktime-attendance-by-date' %}
</li>
{% else %}
  none today
{% endif %}

  <h2>
    kids
  </h2>
  <ul>
    {% for careday in view.caredays %}
      <h3>{{careday.start.time | time:"g:i"}}-{{careday.end.time | time:"g:i"}}</h3>
      {% for child in careday.children %}
        <li>{{child.nickname}} 
      {% endfor %} 
        </li>
      {% endfor %}
  </ul>

{% endblock content %}
