{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
<h1> {{view.classroom.name}} - week of {{view.start_date|date:"n/j/y"}}</h1>
  {% include 'calendar-nav.html' %}
  <ul>
    {% for day, shift_instances in view.worktimes_struct.items %}
      <li>
        {{day.date|date:"l, F j"}} 
        <ul> 
          {% for shift_instance, commitment in shift_instances.items %}
            <li>
              {{shift_instance.start_time}}: {{commitment.family.nickname}}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
