{% extends "worktime/base.html" %}

{% load people_tags %} 
{% load rules %}

{% block content %}
<h1> {{view.classroom.name}} - week of {{view.start_date|date:"n/j/y"}}</h1>
  {% include 'calendar-nav.html' %}
  <ul>
    {% for day, shifts in view.shifts_by_week.0.items %}
      <li>
        {{day|date:"l, F j"}} 
        <ul> 
          {% for shift in shifts %}  
            <li> 
              {{shift.start |time:"g:i"}}:
              {{shift.commitment.family | default_if_none:""}} 
            </li> 
          {% endfor %}  
        </ul>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
