{% extends "authenticated.html" %}

{% load people_tags %}
{% load main_tags %}

{% load rules %}

{% block content %}


  <h1>
    reschedule worktime commitment
  </h1>
  <h2>
    {{view.child}} ({{view.child.classroom}}), originally {{view.commitment.start}}  
  </h2>


  {# navigating between dates  #}
  {# todo - implement navigation between dates #}

  <div>
    <a href="{{view.previous}}">
      &lt;  
    </a>
    <a href="{{view.next}}"> 
      &gt;   
    </a> 
  </div>


  {# {% include 'worktime-reschedule-nav.html' %}  #} 
  {{form.non_field_errors}} 
  <form action="{{request.path}}" method="post"> 
    {% csrf_token %} 
    <ul> 
      {# {% for field in form.fields %} #} 
      {# {{field}} #} 
      {# {% endfor %} #} 
      {# {{form.fields}}  #} 
      {# {% for day in view.shifts_dict %} {{day}} {% endfor %} #} 
      {# {{view.shifts_dict}} #} 
      {% for day, day_sched in view.shifts_by_week.0.items %} 
        {# {{day_sched}} #}
        <li> 
          {{day|date:"l, F j"}}  
          <ul>
            {% for shift in day_sched %}
              <li>
                {{shift.start |time:"g:i"}}:   
                {% with shift.commitment as commitment %}    
                  {% if commitment is not None and commitment.child != view.child %}    
                    {{commitment.child.nickname}}    
                    {# {% elif shift_instance.serialize in form.fields %}     #}  
                  {% else %}   
                    {{ form|render_field_from_string:shift.serialize}}   
                    &nbsp;   
                  {% endif %}    
                {% endwith %}    
              </li>    
            {% endfor %}

            {% for time, shift in day_sched.items %} {{time}}  
              <li>    
                {{shift.start |time:"g:i"}}:   
                {# {% with shift.commitment as commitment %}   #} 
                {#       {% if commitment is not None and commitment.child != view.child %}   #} 
                {#         {{commitment.child.nickname}}   #} 
                {#       {\# {% elif shift_instance.serialize in form.fields %}     #\} #} 
                {#       {% else %}  #} 
                {#         {{ form|render_field_from_string:shift.serialize}}  #} 
                {#         &nbsp;  #} 
                {#       {% endif %}   #} 
                {#     {% endwith %}   #} 
                {#   </li>   #} 
              {% endfor %}     
          </ul>  
        </li> 
      {% endfor %} 
      <button type="submit", value="Submit">save</button> 
      {#   </form> #}
    {% endblock content %}
    
