{% extends "authenticated.html" %}

{% load people_tags %} 
{% load rules %}


{% block content %}
  {% has_perm 'main.score_worktime_attendance' user classroom as can_score_worktime_attendance %}

<h1> {{view.classroom.name}} - week of {{view.start_date|date:"n/j/y"}}</h1>
  {% include 'calendar-nav.html' %}
  <ul>
    {% for day, shifts in view.shifts_by_week.0.items %}
      <li>
        {{day|date:"l, F j"}} 
        <ul> 
          {% for shift in shifts %}  
            <li> 
              {{shift.start |time:"g:i"}}:
              {% with shift.commitment as commitment %}
                {% if commitment %}
                  {{commitment.child}}
                  {% if commitment.has_started and can_score_worktime_attendance%}
                    {{shift.commitment.show_completion_status}}
                    {% include 'commitment_scorer.html' %}
                  {% endif %}
                {% endif %}
              {% endwith %}
            </li> 
          {% endfor %}  
        </ul>
      </li>
    {% endfor %}
  </ul>


{% endblock content %}
